# Ignore node_modules directory
node_modules/

# Ignore venv directory
venv/

# Ignore log files
*.log

# Ignore build directories
dist/
build/

# Ignore environment variable files
.env

# Ignore OS-specific files
.DS_Store

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore Proxies
proxies.txt

# Ignore Scraped Data
**/__pycache__/

src/tapology_scraper/jobs/
src/tapology_scraper/tapology_scraper/settings.py
src/ufcstats_scraper/ufcstats_scraper/settings.py